{% extends "base.html" %} {% block title %}Headsets{% endblock %} {% block
content %}
<h1 style="color: rgb(13, 249, 210)">Peripherals<br />Headsets</h1>
<div class="product-card">
  <div class="image-container">
    <div class="card" style="width: 20rem; height: 20rem">
            <button
        type="button"
        class="btn btn-dark font-11 z-index-1 mt-2 py-0 rounded-pill qucik-view-btn ms-4 px-2"
        onclick="quickView(13011)"
        aria-label="Quick View"
      >
              Qucik View
      </button>
      <img
        src="/static/20250620112827_2.png"
        alt="ASUS TUF GAMING H1 HEADSET (1y)- 90YH03A1-B1UA00"
      />
    </div>
    <div class="product-details">
      <h7 style="color: rgb(5, 255, 255)"
        >ASUS TUF GAMING H1 HEADSET
        <br />
        (1 year warrenty)
      </h7>
      <div class="badges">
        <span class="in-stock-badge" style="color: rgb(5, 255, 255)"
          >In Stock</span
        >
      </div>
      <p class="price" style="color: rgb(5, 255, 255)">Rs.12,000.00</p>
    </div>
  </div>
</div>
<div class="product-card">
  <div class="image-container">
    <div class="card" style="width: 20rem; height: 20rem">
      <button
        type="button"
        class="btn btn-dark font-11 z-index-1 mt-2 py-0 rounded-pill qucik-view-btn ms-4 px-2"
        onclick="quickView(13011)"
        aria-label="Quick View"
      >
        Qucik View
      </button>
      <img
        src="/static/20250827091150_3.png"
        alt="ASUS A302 TUF H1 GEN II HEADSET(1y)- 90YH044B-BHUA00"
      />
    </div>
    <div class="product-details">
      <h7 style="color: rgb(5, 255, 255)"
        >ASUS A302 TUF H1 GEN II HEADSET
        <br />
        (1 year warrenty)
      </h7>
      <div class="badges">
        <span class="in-stock-badge" style="color: rgb(5, 255, 255)"
          >In Stock, Only 7 left</span
        >
      </div>
      <p class="price" style="color: rgb(5, 255, 255)">Rs.17,240.00</p>
    </div>
  </div>
</div>
<div class="product-card">
  <div class="image-container">
    <div class="card" style="width: 20rem; height: 20rem">
            <button
        type="button"
        class="btn btn-dark font-11 z-index-1 mt-2 py-0 rounded-pill qucik-view-btn ms-4 px-2"
        onclick="quickView(13011)"
        aria-label="Quick View"
      >
              Qucik View
      </button>
      <img
        src="/static/20251015124507_1.png"
        alt="ASUS TUF GAMING H1 HEADSET (1y)- 90YH03A1-B1UA00"
      />
    </div>
    <div class="product-details">
      <h7 style="color: rgb(5, 255, 255)"
        >ASUS TUF GAMING H1 HEADSET
        <br />
        (1 year warrenty)
      </h7>
      <div class="badges">
        <span class="in-stock-badge" style="color: rgb(5, 255, 255)"
          >In Stock</span
        >
      </div>
      <p class="price" style="color: rgb(5, 255, 255)">Rs.12,000.00</p>
    </div>
  </div>
</div>
<div class="product-card">
  <div class="image-container">
    <div class="card" style="width: 20rem; height: 20rem">
      <button
        type="button"
        class="btn btn-dark font-11 z-index-1 mt-2 py-0 rounded-pill qucik-view-btn ms-4 px-2"
        onclick="quickView(13011)"
        aria-label="Quick View"
      >
        Qucik View
      </button>
      <img
        src="/static/20251015135212_1.png"
        alt="ASUS A302 TUF H1 GEN II HEADSET(1y)- 90YH044B-BHUA00"
      />
    </div>
    <div class="product-details">
      <h7 style="color: rgb(5, 255, 255)"
        >ASUS A302 TUF H1 GEN II HEADSET
        <br />
        (1 year warrenty)
      </h7>
      <div class="badges">
        <span class="in-stock-badge" style="color: rgb(5, 255, 255)"
          >In Stock, Only 7 left</span
        >
      </div>
      <p class="price" style="color: rgb(5, 255, 255)">Rs.17,240.00</p>
    </div>
  </div>
</div>
<div class="product-card">
  <div class="image-container">
    <div class="card" style="width: 20rem; height: 20rem">
            <button
        type="button"
        class="btn btn-dark font-11 z-index-1 mt-2 py-0 rounded-pill qucik-view-btn ms-4 px-2"
        onclick="quickView(13011)"
        aria-label="Quick View"
      >
              Qucik View
      </button>
      <img
        src="/static/61732_719_CREATIVE-SOUND-BLASTERX-H6-7.1-1.png"
        alt="ASUS TUF GAMING H1 HEADSET (1y)- 90YH03A1-B1UA00"
      />
    </div>
    <div class="product-details">
      <h7 style="color: rgb(5, 255, 255)"
        >ASUS TUF GAMING H1 HEADSET
        <br />
        (1 year warrenty)
      </h7>
      <div class="badges">
        <span class="in-stock-badge" style="color: rgb(5, 255, 255)"
          >In Stock</span
        >
      </div>
      <p class="price" style="color: rgb(5, 255, 255)">Rs.12,000.00</p>
    </div>
  </div>
</div>
<div class="product-card">
  <div class="image-container">
    <div class="card" style="width: 20rem; height: 20rem">
      <button
        type="button"
        class="btn btn-dark font-11 z-index-1 mt-2 py-0 rounded-pill qucik-view-btn ms-4 px-2"
        onclick="quickView(13011)"
        aria-label="Quick View"
      >
        Qucik View
      </button>
      <img
        src="/static/20250827091150_3.png"
        alt="ASUS A302 TUF H1 GEN II HEADSET(1y)- 90YH044B-BHUA00"
      />
    </div>
    <div class="product-details">
      <h7 style="color: rgb(5, 255, 255)"
        >ASUS A302 TUF H1 GEN II HEADSET
        <br />
        (1 year warrenty)
      </h7>
      <div class="badges">
        <span class="in-stock-badge" style="color: rgb(5, 255, 255)"
          >In Stock, Only 7 left</span
        >
      </div>
      <p class="price" style="color: rgb(5, 255, 255)">Rs.17,240.00</p>
    </div>
  </div>
</div>
<div class="product-card">
  <div class="image-container">
    <div class="card" style="width: 20rem; height: 20rem">
            <button
        type="button"
        class="btn btn-dark font-11 z-index-1 mt-2 py-0 rounded-pill qucik-view-btn ms-4 px-2"
        onclick="quickView(13011)"
        aria-label="Quick View"
      >
              Qucik View
      </button>
      <img
        src="/static/20250620112827_2.png"
        alt="ASUS TUF GAMING H1 HEADSET (1y)- 90YH03A1-B1UA00"
      />
    </div>
    <div class="product-details">
      <h7 style="color: rgb(5, 255, 255)"
        >ASUS TUF GAMING H1 HEADSET
        <br />
        (1 year warrenty)
      </h7>
      <div class="badges">
        <span class="in-stock-badge" style="color: rgb(5, 255, 255)"
          >In Stock</span
        >
      </div>
      <p class="price" style="color: rgb(5, 255, 255)">Rs.12,000.00</p>
    </div>
  </div>
</div>
<div class="product-card">
  <div class="image-container">
    <div class="card" style="width: 20rem; height: 20rem">
      <button
        type="button"
        class="btn btn-dark font-11 z-index-1 mt-2 py-0 rounded-pill qucik-view-btn ms-4 px-2"
        onclick="quickView(13011)"
        aria-label="Quick View"
      >
        Qucik View
      </button>
      <img
        src="/static/20250827091150_3.png"
        alt="ASUS A302 TUF H1 GEN II HEADSET(1y)- 90YH044B-BHUA00"
      />
    </div>
    <div class="product-details">
      <h7 style="color: rgb(5, 255, 255)"
        >ASUS A302 TUF H1 GEN II HEADSET
        <br />
        (1 year warrenty)
      </h7>
      <div class="badges">
        <span class="in-stock-badge" style="color: rgb(5, 255, 255)"
          >In Stock, Only 7 left</span
        >
      </div>
      <p class="price" style="color: rgb(5, 255, 255)">Rs.17,240.00</p>
    </div>
  </div>
</div>
{% endblock %}
