{% extends "base.html" %} {% block title %}Keyboards{% endblock %} {% block content
%}
<h1 style="color: rgb(13, 249, 210);"> peripherals<br>Keyboards
</h1>
<div class="row"> 
  <div class="col-md-6">
<div class="product-card">
  <div class="image-container">
    <div class="card" style="width: 20rem; height: 20rem">
            <button
        type="button"
        class="btn btn-dark font-11 z-index-1 mt-2 py-0 rounded-pill qucik-view-btn ms-4 px-2"
        onclick="quickView(13011)"
        aria-label="Quick View"
      >
              Qucik View
      </button>
      <img
        src="/static/44357_2618_THERMALTAKE-TT-PREMIUM-X1-RGB-KB-TPX-BLBRUS-01-copy.png"
        alt="ASUS P306 TUF GAMING M4 WIRELESS MOUSE(1y)- 90MP02F0-BMUA00"
      />
    </div>
    <div class="product-details">
      <h7 style="color: rgb(5, 255, 255);">ASUS P306 TUF GAMING M4 WIRELESS MOUSE
        <br>
        (1 year warrenty)
      </h7>
      <div class="badges">
        <span class="in-stock-badge" style="color: rgb(5, 255, 255);">In Stock</span>
      </div>
      <p class="price" style="color: rgb(5, 255, 255);">Rs. 14,000.00</p>
    </div>
  </div>
 </div>
</div>
<div class="col-md-6">
<div class="product-card">
  <div class="image-container">
    <div class="card" style="width: 20rem; height: 20rem">
            <button
        type="button"
        class="btn btn-dark font-11 z-index-1 mt-2 py-0 rounded-pill qucik-view-btn ms-4 px-2"
        onclick="quickView(13011)"
        aria-label="Quick View"
      >
              Qucik View
      </button>
      <img
        src="/static/20241009113121_1.jpg"
        alt="ASUS P306 TUF GAMING M4 WIRELESS MOUSE(1y)- 90MP02F0-BMUA00"
      />
    </div>
    <div class="product-details">
        <br>
        <BR>
      <h7 style="color: rgb(5, 255, 255);">KEYBOARD - RAPOO V500 ALLOY MECHANICAL GAMING KEYBOARD
        <br>
        (3 year warrenty)
      </h7>
      <div class="badges">
        <span class="in-stock-badge" style="color: rgb(5, 255, 255);">In Stock</span>
      </div>
      <p class="price" style="color: rgb(5, 255, 255);">Rs. 14,000.00</p>
      </div>
     </div>
    </div>
   </div> 
  </div> 
<div class="row"> 
<div class="col-md-6">
<div class="product-card">
  <div class="image-container">
    <div class="card" style="width: 20rem; height: 20rem">
            <button
        type="button"
        class="btn btn-dark font-11 z-index-1 mt-2 py-0 rounded-pill qucik-view-btn ms-4 px-2"
        onclick="quickView(13011)"
        aria-label="Quick View"
      >
              Qucik View
      </button>
      <img
        src="/static/202307181649142 (1).png"
        alt="MICROPACK GK-30M GAMING KEYBOARD(3y)"
      />
    </div>
    <div class="product-details">
      <h7 style="color: rgb(5, 255, 255);">MICROPACK GK-30M GAMING KEYBOARD(3y)
        <br>
        (3 year warrenty)
      </h7>
      <div class="badges">
        <span class="in-stock-badge" style="color: rgb(5, 255, 255);">In Stock</span>
      </div>
      <p class="price" style="color: rgb(5, 255, 255);">Rs. 17,450.00</p>
    </div>
  </div>
</div>
</div>
<div class="product-card">
  <div class="image-container">
    <div class="card" style="width: 20rem; height: 20rem">
            <button
        type="button"
        class="btn btn-dark font-11 z-index-1 mt-2 py-0 rounded-pill qucik-view-btn ms-4 px-2"
        onclick="quickView(13011)"
        aria-label="Quick View"
      >
              Qucik View
      </button>
      <img
        src="/static/202307181528551 (1).png"
        alt="MICROPACK GK-10L GAMING KEYBOARD (3y)"
      />
    </div>
    <div class="product-details">
      <h7 style="color: rgb(5, 255, 255);">MICROPACK GK-10L GAMING KEYBOARD
        <br>
        (3 year warrenty)
      </h7>
      <div class="badges">
        <span class="in-stock-badge" style="color: rgb(5, 255, 255);">In Stock</span>
      </div>
      <p class="price" style="color: rgb(5, 255, 255);">Rs. 5,300.00</p>
    </div>
  </div>
</div>
<div class="product-card">
  <div class="image-container">
    <div class="card" style="width: 20rem; height: 20rem">
            <button
        type="button"
        class="btn btn-dark font-11 z-index-1 mt-2 py-0 rounded-pill qucik-view-btn ms-4 px-2"
        onclick="quickView(13011)"
        aria-label="Quick View"
      >
              Qucik View
      </button>
      <img
        src="/static/20230322110733LOGITECH G213 PRODIGY -1 (1).png"
        alt="LOGITECH G213 PRODIGY GAMING KEYBOARD"
      />
    </div>
    <div class="product-details">
      <h7 style="color: rgb(5, 255, 255);">LOGITECH G213 PRODIGY GAMING KEYBOARD
        <br>
        (2 year warrenty)
      </h7>
      <div class="badges">
        <span class="in-stock-badge" style="color: rgb(5, 255, 255);">In Stock</span>
      </div>
      <p class="price" style="color: rgb(5, 255, 255);">Rs. 16,000.00</p>
    </div>
  </div>
</div>
{% endblock %}