{% extends "base.html" %} {% block title %}Mice{% endblock %} {% block content
%}
<h1 style="color: rgb(13, 249, 210);"> peripherals<br>Mice 
</h1>
<div class="row"> 
  <div class="col-md-6">
<div class="product-card">
  <div class="image-container">
    <div class="card" style="width: 20rem; height: 20rem">
            <button
        type="button"
        class="btn btn-dark font-11 z-index-1 mt-2 py-0 rounded-pill qucik-view-btn ms-4 px-2"
        onclick="quickView(13011)"
        aria-label="Quick View"
      >
              Qucik View
      </button>
      <img
        src="/static/20241102082645_1.png"
        alt="ASUS P306 TUF GAMING M4 WIRELESS MOUSE(1y)- 90MP02F0-BMUA00"
      />
    </div>
    <div class="product-details">
      <h7 style="color: rgb(5, 255, 255);">ASUS P306 TUF GAMING M4 WIRELESS MOUSE
        <br>
        (1 year warrenty)
      </h7>
      <div class="badges">
        <span class="in-stock-badge" style="color: rgb(5, 255, 255);">In Stock</span>
      </div>
      <p class="price" style="color: rgb(5, 255, 255);">Rs. 14,000.00</p>
    </div>
  </div>
 </div>
</div>
<div class="col-md-6"> 
<div class="product-card">
  <div  class="image-container">
    <div class="card" style="width: 20rem; height: 20rem">
            <button
        type="button"
        class="btn btn-dark font-11 z-index-1 mt-2 py-0 rounded-pill qucik-view-btn ms-4 px-2"
        onclick="quickView(13011)"
        aria-label="Quick View"
      >
              Qucik View
      </button>
      <img
        src="/static/RAPOO VT950 PRO DUAL MODE WIRELESS GAMING MOUSE.png"
        alt="WIRELESS MOUSE - 
        RAPOO VT950 PRO DUAL MODE WIRELESS GAMING MOUSE(3y)"
      />
    </div>
    <div class="product-details">
      <h7 style="color: rgb(5, 255, 255);">
      RAPOO VT950 PRO DUAL MODE WIRELESS GAMING MOUSE
      <br>
      (3 year warrenty)
      </h7>
      <div class="badges">
        <span class="in-stock-badge"style="color:  rgb(5, 255, 255);">In Stock</span>
      </div>
      <p class="price" style="color: rgb(5, 255, 255);">Rs. 16,000.00</p>
      </div>
     </div>
    </div>
   </div> 
  </div> 
 <div class="row">
<div class="col-md-6">
<div class="product-card">
  <div  class="image-container">
    <div class="card" style="width: 20rem; height: 20rem">
            <button
        type="button"
        class="btn btn-dark font-11 z-index-1 mt-2 py-0 rounded-pill qucik-view-btn ms-4 px-2"
        onclick="quickView(13011)"
        aria-label="Quick View"
      >
              Qucik View
      </button>
      <img
        src="/static/image.png"
        alt="WIRELESS MOUSE - 
        ALCATROZ ASIC7 RGB FX 1000DPI USB MOUSE"
      />
    </div>
    <div class="product-details">
      <h7 style="color: rgb(5, 255, 255);">
      ALCATROZ ASIC7 RGB FX 1000DPI USB MOUSE
      <br>
      (6 months warrenty)
      </h7>
      <div class="badges">
        <span class="in-stock-badge"style="color:  rgb(5, 255, 255);">In Stock</span>
      </div>
      <p class="price" style="color: rgb(5, 255, 255);">Rs. 1,600.00</p>
    </div>
   </div>
  </div>
 </div>
<div class="col-md-6">
<div class="product-card">
  <div  class="image-container">
    <div class="card" style="width: 20rem; height: 20rem">
            <button
        type="button"
        class="btn btn-dark font-11 z-index-1 mt-2 py-0 rounded-pill qucik-view-btn ms-4 px-2"
        onclick="quickView(13011)"
        aria-label="Quick View"
      >
              Qucik View
      </button>
      <img
        src="/static/20221118144537RAPOO V16 GAMING.png"
        alt="WIRELESS MOUSE - 
       RAPOO V16RGB GAMING MOUSE(3y)"
      />
    </div>
    <div class="product-details">
      <h7 style="color: rgb(5, 255, 255);">
      RAPOO V16RGB GAMING MOUSE
      <br>
      (3 year warrenty)
      </h7>
      <div class="badges">
        <span class="in-stock-badge"style="color:  rgb(5, 255, 255);">In Stock</span>
      </div>
      <p class="price" style="color: rgb(5, 255, 255);">Rs. 3,800.00</p>
    </div>
  </div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-6">
<div class="product-card">
  <div  class="image-container">
    <div class="card" style="width: 20rem; height: 20rem">
            <button
        type="button"
        class="btn btn-dark font-11 z-index-1 mt-2 py-0 rounded-pill qucik-view-btn ms-4 px-2"
        onclick="quickView(13011)"
        aria-label="Quick View"
      >
              Qucik View
      </button>
      <img
        src="/static/39761_4489_MOUGAM0003-1 (1).png"
        alt="WIRELESS MOUSE - 
        GAMING MOUSE - GAMEMAX MG7 RGB"
      />
    </div>
    <div class="product-details">
      <h7 style="color: rgb(5, 255, 255);">
      GAMEMAX MG7 RGB MOUSE
      <br>
      (1 year warrenty)
      </h7>
      <div class="badges">
        <span class="in-stock-badge"style="color:  rgb(5, 255, 255);">In Stock</span>
      </div>
      <p class="price" style="color: rgb(5, 255, 255);">Rs. 2,600.00</p>
       </div>
      </div>
     </div>
    </div> 
<div class="col-md-6">
<div class="product-card">
  <div  class="image-container">
    <div class="card" style="width: 20rem; height: 20rem">
            <button
        type="button"
        class="btn btn-dark font-11 z-index-1 mt-2 py-0 rounded-pill qucik-view-btn ms-4 px-2"
        onclick="quickView(13011)"
        aria-label="Quick View"
      >
              Qucik View
      </button>
      <img
        src="/static/39748_4740_MOUARM0001-1.png"
        alt="WIRELESS MOUSE - 
        GAMING MOUSE - GAMEMAX MG7 RGB"
      />
    </div>
    <div class="product-details">
      <h7 style="color: rgb(5, 255, 255);">
      GAMEMAX MG7 RGB MOUSE
      <br>
      (1 year warrenty)
      </h7>
      <div class="badges">
        <span class="in-stock-badge"style="color:  rgb(5, 255, 255);">In Stock</span>
      </div>
      <p class="price" style="color: rgb(5, 255, 255);">Rs. 2,600.00</p>
     </div> 
      </div>
     </div>
    </div>
{% endblock %}
