{% extends "base.html" %} {% block title %}Office Keyboards{% endblock %} {%
block content %}
<h1 style="color: rgb(13, 249, 210)">Office peripherals<br />Keyboards</h1>

    <div class="product-card">
      <div class="image-container">
        <div class="card" style="width: 20rem; height: 20rem">
        <span class="quick-view">Quick View</span>
        <img src="/static/Copilot_20260204_194753.png" alt="TECHPRO K520BLTT USB 3 LANGUAGE KEYBOARD(6m)">
      </div>
      <div class="product-details">
        <br>
        <h7>TECHPRO K520BLTT USB 3 LANGUAGE KEYBOARD</h7>
                <br>
        (6 month warranty)
        <div class="badges">
          <span class="in-stock-badge">In Stock</span>
        </div>
        <p class="price">Rs. 950.00</p>
        <p class="payment-info">or 3 X Rs. 354.67 with **KOKO**</p>
        <p class="terms">T&C Apply.</p>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}