{% extends "base.html" %} {% block title %}Office Mouse{% endblock %} {% block content
%}
<h1 style="color: rgb(13, 249, 210);"> office peripherals<br>Mouses
</h1>
<div class="row">
<div class="col-md-6">
<div class="product-card">
  <div class="image-container">
    <div class="card" style="width: 20rem; height: 20rem">
            <button
        type="button"
        class="btn btn-dark font-11 z-index-1 mt-2 py-0 rounded-pill qucik-view-btn ms-4 px-2"
        onclick="quickView(13011)"
        aria-label="Quick View"
      >
              Qucik View
      </button>
      <img
        src="/static/20241009150914_1.png"
        alt="RAPOO M10 PLUS WIRELESS OPTICAL MOUSE(3y)"
      />
    </div>
    <div class="product-details">
      <h7 style="color: rgb(5, 255, 255);">RAPOO M10 PLUS WIRELESS OPTICAL MOUSE
        <br>
        (3 year warrenty)
      </h7>
      <div class="badges">
        <span class="in-stock-badge" style="color: rgb(5, 255, 255);">In Stock</span>
      </div>
      <p class="price" style="color: rgb(5, 255, 255);">Rs. 2,100.00</p>
    </div>
  </div>
</div>
  </div>
<div class="col-md-6">
<div class="product-card">
  <div  class="image-container">
    <div class="card" style="width: 20rem; height: 20rem">
            <button
        type="button"
        class="btn btn-dark font-11 z-index-1 mt-2 py-0 rounded-pill qucik-view-btn ms-4 px-2"
        onclick="quickView(13011)"
        aria-label="Quick View"
      >
              Qucik View
      </button>
      <img
        src="/static/69294_252_HV-MS871.png"
        alt="WIRELESS MOUSE - 
        HAVIT HV-MS871 MOUSE(1y)"
      />
    </div>
    <div class="product-details">
      <h7 style="color: rgb(5, 255, 255);">
      HAVIT HV-MS871 WIRELESS MOUSE
      <br>
      (1 year warrenty)
      </h7>
      <div class="badges">
        <span class="in-stock-badge"style="color:  rgb(5, 255, 255);">In Stock</span>
      </div>
      <p class="price" style="color: rgb(5, 255, 255);">Rs. 16,000.00</p>
    </div>
  </div>
</div>
{% endblock %}
