{% extends "base.html" %} {% block title %}Products{% endblock %} {% block
content %}
<h1>Products page</h1>
<div class="product-card">
  <div class="image-container">
    <span class="quick-view">Quick View</span>
    <img src="/static/20241102082645_1.png" alt="ASUS P306 TUF GAMING M4 WIRELESS MOUSE(1y)- 90MP02F0-BMUA00">
  </div>
  <div class="product-details">
    <h2>ASUS P306 TUF GAMING M4 WIRELESS MOUSE(1y)</h2>
    <div class="badges">
      <span class="in-stock-badge">In Stock</span>
    </div>
    <p class="price">Rs. 14,000.00</p>
    <p class="payment-info">or 3 X Rs. 4,666.66 with **KOKO**</p>
    <p class="terms">T&C Apply.</p>
  </div>
</div>
{% endblock %}
